* {
    box-sizing: border-box;
    color: black;
    padding: 0;
    margin: 0;
    line-height: 1.6;
    font-size: 16px;
    font-weight: 400;
  }

body {
    background-color: white;
    /* font-family: 'IBM Plex Mono', monospace; */
    font-family: 'Roboto';
}


h1 {
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 10px;
}

p {
    color: black;
}

main.wrap {
    box-sizing: content-box;
    display: flex;
    margin: 0 auto;
    max-width: 700px;
    align-content: flex-start;
    flex-flow: column wrap;
    padding: 30px;
}