body {
    background-color: #00807F;
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    padding: 0;
    margin: 0;
    /* line-height: 1.8; */
    font-size: 15px;
    font-weight: 400;
}

p, h1, h2, h3 {
    margin: 0;
    padding: 0;
    line-height: 1.8;
}

h1 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

p {
    color: white;
    opacity: 0.7;
    margin-bottom: 30px;
    font-size: 15px;


}

.main {
    width: 700px;
    margin: 30px auto 0 auto;
}